.btn-cart {
    display: flex;
    width: 56px;
    height: 35px;
    background-color: #FFFF;
    border-radius: 40%;
}
.btn-cart .img-cart {
    padding: 10px;
}
.cantidad {
    font-size: 22px;
    padding-top: 1px;
    color: #1C6758;
}