.href-footer{
    font-size: 1rem;
}
.href-footer:hover {
    color: #B2A4FF;
}
.ptg{
    padding: 5px;
}
.ptg:hover{
    color: #B2A4FF;
}
.ptg::after {
    color: #ffffff;
    content: '|';
    display: inline-block;
    margin: 0 0 0 5px;
}